/* FONTS */
@font-face {
  font-family: 'Metropolis-Black';
  src: url('fonts/Metropolis-Black.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'Metropolis-Bold';
  src: url('fonts/Metropolis-Bold.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'Metropolis-Medium';
  src: url('fonts/Metropolis-Medium.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'Metropolis-Regular';
  src: url('fonts/Metropolis-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'Metropolis-SemiBold';
  src: url('fonts/Metropolis-SemiBold.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

.Landing {
  background-color: #181826;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.LandingHero {
  text-align: center;
  margin-bottom: 40px;
}

.LandingHero h1 {
  color: white;
  margin: 0;
  font-family: 'Bebas Neue', cursive;
  font-size: 96px;
}

.LandingHero sub {
  font-weight: 500;
  font-family: 'Metropolis-Medium';
  color: white;
  margin: 0;
  font-size: 18px;
}

.Upload {
  border-radius: 8px;
  padding: 18px 24px;
  font-weight: 800;
  font-size: 16px;
  font-family: 'Metropolis-Black';
  color: white;
  background-color: #D92929;
  border: 0;
}

.Instructions {
  margin: 40px 80px;
}

.WrappedIntroduction {
  text-align: center;
  height: 100vh;
  padding: 0 420px;
  background-color: #7E18A1;
  color: #F5EC72;
}

.Report h1 {
  font-family: 'Metropolis-Black';
  font-size: 96px;
}

.Report h2 {
  font-family: 'Metropolis-Black';
  font-size: 52px;
}

.Report h3 {
  font-family: 'Metropolis-Black';
  font-size: 44px;
}

.Report h4 {
  font-family: 'Metropolis-Black';
  font-size: 28px;
}

.Report p {
  font-family: 'Metropolis-Medium';
}

.Report sub {
  font-family: 'Metropolis-Medium';
}

.Report label {
  font-family: 'Metropolis-Bold';
}

.WrappedIntroduction h2 {
  margin-bottom: 16px;
}

.WrappedIntroduction sub {
  font-size: 20px;
  margin: 0;
}

.Here {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.HereSub {
  width: 80%;
}

.ScrollDown {
  position: absolute;
  bottom: 0;
  margin-bottom: 48px;
}

.ScrollDown label {
  font-size: 16px;
  margin-bottom: 16px;
}

.WrappedWelcome {
  text-align: center;
  height: 100vh;
  padding: 0 420px;
  background-color: #95C12B;
  line-height: 62px;
  color: #FEFFB9;
}

.center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.two-col {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.genres {
  width: 100%;
}

.carousel {
  margin-bottom: 64px;
  display: flex;
  width: 100%;
  overflow-x: scroll;
  overflow-y: hidden;
}

.WrappedGenres {
  padding: 96px 80px 96px 80px;
  background-color: #EE9021;
  color: #EEFFE7;
}

.WrappedGenres h1 {
  margin: 48px 0;
}

.WrappedGenres p {
  margin: 8px 0;
  font-size: 32px;
}

.WrappedGenres sub {
  font-size: 20px;
}

.DescMain {
  margin-bottom: 64px;
}

.WrappedMinutes {
  text-align: center;
  padding: 80px 420px 96px 420px;
  background-color: #C72B68;
  color: #F5EC72;
}

.WrappedMinutes h1 {
  margin: 0;
}

.WrappedMinutes p {
  font-size: 20px;
}

.WrappedMinutes sub {
  font-size: 16px;
}

.carouselCard {
  padding: 0 8px;
  height: 60vh;
}

.carouselCard img {
  border-radius: 12px;
  height: 100%;
}

.firstCard {
  padding-right: 8px;
  margin-left: 80px;
  height: 60vh;
}

.lastCard {
  padding-left: 8px;
  margin-right: 80px;
  height: 60vh;
}

.firstCard img {
  border-radius: 12px;
  height: 100%;
}

.lastCard img {
  border-radius: 12px;
  height: 100%;
}

.OverviewDesc {
  padding-left: 80px;
}

.WrappedOverview {
  padding: 80px 0 64px 0;
  background-color: #7E18A1;
  color: #F5EC72;
}

.WrappedOverview h3 {
  margin: 0;
}

.WrappedOverview p {
  font-size: 24px;
}

.WrappedShowEpisodes {
  padding: 80px 240px 56px 240px;
  background-color: #95C12B;
  color: #FEFFB9;
}

.WrappedShowEpisodes h2 {
  margin: 0;
}

.WrappedShowEpisodes h4 {
  margin: 0;
}

.WrappedShowEpisodes p {
  font-size: 20px;
}

.Episodes {
  padding: 24px 160px 56px 160px;
}

.Episode {
  margin-bottom: 36px;
  display: flex;
  flex-direction: row;
}

.EpisodeImg {
  height: 50vh;
}

.EpisodeDesc {
  display: flex;
  margin-left: 24px;
}

.DescContent {
  display: inline-block;
    align-self: flex-end;
}

.EpisodeImg img {
  border-radius: 12px;
  height: 100%;
}

.WrappedBingeShow {
  text-align: center;
  padding: 80px 160px 64px 160px;
  background-color: #EE9021;
  color: #EEFFE7;
}

.bingeDesc {
  margin-top: 8px;
  width: 60%;
}

.WrappedBingeShow h1 {
  margin: 0;
}

.WrappedBingeShow sub {
  font-size: 24px;
}

.WrappedBingeShow p {
  line-height: 28px;
  font-size: 20px;
}

.BingeShow {
  margin-top: 8px;
  margin-bottom: 24px;
  height: 75vh;
}

.BingeShow img {
  border-radius: 12px;
  height: 100%;
}

.WrappedRatingShow {
  display: flex;
  justify-content: space-between;
  padding: 80px 240px;
}

.WrappedRatingShow h2 {
  line-height: 72px;
}

.WrappedRatingShow sub {
  font-size: 20px;
}

.ratedShow {
  height: 72vh;
}

.ratingLeft {
  margin-right: 56px;
}

.ratingRight {
  text-align: right;
  margin-left: 56px;
}

.ratedShow img {
  border-radius: 12px;
  height: 100%;
}

.best {
  background-color: #C72B68;
  color: #F5EC72;
}

.worst {
  background-color: #7E18A1;
  color: #F5EC72;
}

.WrappedMoviesOverview {
  padding: 80px 240px 56px 240px;
  background-color: #95C12B;
  color: #FEFFB9;
}

.WrappedMoviesOverview h2 {
  margin: 0;
}

.WrappedMoviesOverview h3 {
  margin: 0;
}

.WrappedMoviesOverview h4 {
  margin: 8px;
}

.WrappedMoviesOverview p {
  font-size: 20px;
}

.FavoriteMovie {
  text-align: center;
  margin-bottom: 36px;
}

.favoriteMovieImg {
  margin-top: 16px;
  height: 75vh;
}

.favoriteMovieImg img {
  border-radius: 12px;
  height: 100%;
}

.WrappedPersonality {
  text-align: center;
  height: 100vh;
  padding: 0 160px;
  background-color: #EE9021;
}

.WrappedPersonality h2 {
  margin: 0;
}

.WrappedPersonality h4 {
  margin: 0;
}

.WrappedPersonality p {
  line-height: 28px;
  font-size: 20px;
}

.PersonalityContainer {
  border-radius: 24px;
  padding: 40px;
  background-color: #3818a1;
  color: #F5EC72;
}

.personalityGraphic {
  margin: 24px 0;
}

.personalityDesc {
  width: 50%;
}

.NVTI {
  padding: 8px 16px;
  border-radius: 24px;
  background-color: #C72B68;
  width: fit-content;
  margin: auto;
}

.NVTI p {
  margin: 0;
}